@charset "UTF-8";

/*------------------------main------------------------*/

.main {
}
.main__container {
}

/*------------------------block------------------------*/

.block {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.block__text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
}

.block__body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    max-width: 70%;
}

@media(max-width: 426px){
    .block__text {
        gap: 35px;
    }

    .block__body {
        max-width: 80%;
    }
}

/*------------------------block1------------------------*/

.block1 {
    height: 95vh;
    background-image: url(../img/img11.1.jpg);
    background-position: 0% 30%;
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
}

.block1__background {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 50px 70px;
    background-color: rgba(0, 0, 0, 0.5);
}

.block1__container {
}

.block1__text {
    color: #ffffff;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    gap: 10px;
    text-transform: uppercase;
}

.block1__name {
    margin: 0 0 20px 0;
}

.block1__separator {
    width: 120%;
    height: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    border-radius: 30%;
    margin: 0 0 20px 0;
}

.block1__phrase1 {
}

.block1__phrase2 {
}

@media(max-width: 850px){
    .block1__separator {
        width: 100%;
    }
}

@media(max-width: 600px){
    .block1__separator {
        width: 130%;
    }
}

@media(max-width: 426px){
    .block1 {
        background-position: 20% 30%;
    }
}

/*------------------------block2------------------------*/

.block2 {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 1);
}

.block2__container {
    padding: 170px 0;
}

.block2__text {
    gap: 45px;
}

.block2__title {
}

.block2__body {
}

.block2__paragraph {
}

@media(max-width: 426px){
    .block2__container {
        padding: 150px 0;
    }
}

/*------------------------block3------------------------*/

.block3 {
}
.block3__container {
}
.block3__text {
}
.block3__title {
}
.block3__body {
}
.block3__paragraph {
}
.block4 {
}
.block4__container {
}
.block4__text {
}
.block4__list {
}
.block4__item {
}
.block4__paragraph {
}
.block5 {
}
.block5__container {
}
.block5__text {
}
.block5__title {
}
.block5__paragraph {
}
.block5__list {
}
.block5__element {
    position: relative;
}
.block5__option {
}
.link {
}
.block6 {
}
.block6__container {
}
.block6__text {
}
.block6__title {
}
.block6__body {
}
.block6__paragraph {
}