@charset "UTF-8";

/*------------------------main------------------------*/

.main {
}

.main__container {
    padding: 70px 40px;
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.main__title {
}

.main__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

@media(max-width: 426px){
    .main__container {
        padding: 50px 30px;
    }
    
    .main__content {
        gap: 35px;
    }

    .main__body {
        gap: 35px;
    }
}

/*------------------------videosection------------------------*/

.main__videosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}

.videosection__title {
}

.videosection__videocontainer {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.videosection__video {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 1000px){
    .videosection__videocontainer {
        width: 70vw;
    }
}

@media(max-width: 426px){
    .main__videosection {
        gap: 35px;
    }
}

/*------------------------photosection------------------------*/

.main__photosection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    width: 70%;
}

.photosection__title {
}

.photosection__photogrid {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 250px);
    justify-content: center;
    gap: 45px;
    width: 100%;
}

.photogrid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.photogrid__img {
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.photogrid__img img {
    width: 100%;
    border-radius: 20px;
}

.photogrid__link {
}

@media(max-width: 1000px){
    .photosection__photogrid {
        grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    }
}

@media(max-width: 426px){
    .main__photosection {
        gap: 35px;
        width: 80%;
    }

    .photosection__photogrid {
        gap: 35px;
    }
}

/*------------------------print------------------------*/

@media print {
    .photogrid__img {
        page-break-before: always;
    }
}